################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

SRP-Practice/.vs/
SRP-Practice/Library/
SRP-Practice/Temp/
SRP-Practice/PC_Build/
SRP-Practice/UserSettings/
SRP-Practice/Assets/ScreenCapture/
SRP-Practice/*.log
SRP-Practice/Logs
SRP-Practice/obj
SRP-Practice/*.csproj
SRP-Practice/*.sln
SRP-Practice/*.vsconfig
*.pyc

*.suo
*.opensdf
*.sdf